<div>
  <h1>About</h1>
  <p>In simple words, CodingBuddy is like GoogleDocs for programmers. It allows you to work collaboratively on code with fellow engineers - no matter where you live..</p>
  <p>Made by Afeef & Shivashish</p>
</div>
