body {
  min-height: 100px;
  padding-top: 70px;
  background-color: black;
  color: white;
  padding: 10em 1em;


}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}

.CodeMirror {
  height:  600px
  text-align: center
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#my-video {
  margin-top: 15px;
  width: 280px;
  height: auto;
  background-color: #eee;
}

#second-video {
  width: 100%;
  height: 75%;
  max-height: 480px;
  background-color: #eee;
}

#video-container {
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
}

#my-id {
  font-weight: bold;
}

p{
  text-align: center;
  color: green;
  text-decoration: none;
  font-size: 2em;
  position: relative;
  z-index: 1;
  text-shadow:
   -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
     3px 3px 0 black;
    &:before {
    content: ' ';
    display: block;
    visibility: hidden;
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: -1;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: white;
  }
  &:hover:before {
    visibility: visible;
  }
}

h1{
  text-align: center;
  color: yellow;
  text-decoration: none;
  font-size: 3em;
  position: relative;
  z-index: 1;
  text-shadow:
  -3px -3px 0 black,
   3px -3px 0 black,
   -3px 3px 0 black,
    3px 3px 0 black;
    &:before {
    content: ' ';
    display: block;
    visibility: hidden;
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: -1;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: white;
  }
  &:hover:before {
    visibility: visible;
  }
}
